
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
        <div class="container-fluid d-flex align-items-center">
            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">DeepPlate</a>
                </div>
                <div>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                @await Component.InvokeAsync("Categories")
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <a class="nav-link text-light" asp-controller="Admin" asp-action="ProductList">Admin Product</a>
                </div>
            </div>
            <div class="d-flex align-items-center">
                @await Html.PartialAsync("_Search");
                <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login/Register</a>
            </div>
        </div>
    </div>
</nav>