@model List<Category>

<div class="list-group">
    @foreach (var category in Model)
    {
        <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index" asp-route-category=@category.Url>@category.Name</a>
    }
</div>



@*@foreach (var category in Model)
{
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option asp-controller="Home" asp-action="Index" asp-route-category=@category.Url value=@category.Id>@category.Name</option>
    </select>
}
*@