@{
    ViewData["Title"] = "Details";
}

@model ProductDetailModel

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6 card card-body" style="width: 18rem;">
                <img src="~/images/@Model.Product.ImageUrl" />
                <p>@Model.Product.Properties</p>
            </div>
            <div class="col-6">
                <h1 class="card-title display-6">@Model.Product.Name</h1>
                <p>@Model.Product.Properties</p>
                @foreach (var material in Model.Materials)
                {
                    <p class="card-text">@material.Name</p>
                }
            </div>
        </div>
    </div>
</div>